:root{
    --border: 1px solid black;    
}

*{box-sizing: border-box;}

body{
    font-family: 'Arimo', sans-serif;
    margin: 0;
}

.form{
    border: var(--border);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom,rgba(2,108,222,0.9),rgba(0, 212, 231,0.9));
}
.top{
    height: 10%;
}
.img{
    height: 35%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.img img{
    width: 14.5ch;
    height: 14ch;
    margin-bottom: 3ch;
    /* border: var(--border); */
}

.img span{
    font-family: Rochester;
    font-size: 2rem;
}

td img{
    width: 3ch;
    height: 3ch;
    position: absolute;
    left: 0;
    top: -0.2ch;
    margin: 1ch;
}

#pass-img{
    width: 4ch;
    height: 4ch;
    top: -0.7ch;
    margin-left: 0.5ch;
}

tr{
    position: relative;
}
input[type='text'], input[type='password']{
    padding: 1.5ch 3ch;
    padding-left: 6ch;
    border-radius: 2rem;
    border: none;
    box-shadow: linear-gradient(to bottom,rgba(2,108,222,0.9),rgba(0, 212, 231,0.9));
    margin-bottom: 2ch;
    width: 70vw;
    max-width: 400px;
}

.submit-td{
    display: flex;
    justify-content: center;
}

.rmb-td{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 2ch;
}

input[type="submit"]{
    color: white;
    padding: 0.8em 4.5em;
    border-radius: 2rem;
    border: none;
    /* box-shadow: 1px 1px 5px black; */
    background: rgba(0, 74, 247, 1);
    margin-top: 3ch;
    width: 40vw;
    min-width: 200px;
    max-width: 200px;
    /* font-size: 1rem; */
}

.bottom{
    height: 10%;
}

a{
    font-size: 0.8rem;
}

.create-acc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.create-acc span{
    font-size: 0.8rem;
}

.create-acc a{
    font-size: 0.9rem;
    margin-top: 1ch;
    border-radius: 2rem;
    padding: 0.5rem 1.5rem;
    border: 1px solid blue;
}